.calculator {
  border: 1px solid rgba(126, 121, 121, 0.945);
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
